* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/light-patten.svg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.item {
    position: relative;
    border-radius: 30px;
    
}
img{
    border-radius: 20px;
}

.caption {
    background-color: white;
    position: absolute;
    bottom: 5%;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.lightContanier {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);


}

.lightBox {
    background-image: url(../images/main-slider-3.jpeg);
    background-size: 100% 100%;
    width: 70%;
    height: 70%;
    position: relative;

}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(230, 72, 72);
}